@import url(http://fonts.googleapis.com/css?family=Lato);
* {
    padding: 0;
    margin: 0;
    border: 0;
}

::selection {
    color: #ecf0f1;
    background-color: #8e44ad;
}

body {
    background-color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #130f0e;
}

img {
    margin: 72px 32px 12px 32px;
}

h1 {
    font-size: 48px;
    margin: 32px 32px 6px 32px;
    font-weight: 400;
}

h2 {
    margin: 6px 32px 32px 32px;
    font-size: 18px;
}

.content {
    margin: 32px 248px;
    text-align: justify;
    font-size: 18px;
}

.content,
.social {
    opacity: 0.8;
}

a {
    color: #130f0e;
    text-decoration: underline;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

a:hover {
    color: #2980b9;
}

a:active {
    color: #8e44ad;
}

.social {
    margin-top: 64px;
}

.social i {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 20px;
    position: relative;
    top: 10px;
    color: #130f0e;
}

.ico-google-plus:hover {
    color: #dd4b39;
}

.ico-github-alt:hover {
    color: #4183c4;
}

.ico-envelope-o:hover {
    color: #9b59b6;
}

ui {
    list-style: none;
}