@import url(http://fonts.googleapis.com/css?family=Lato);
* {
    padding: 0;
    margin: 0;
    border: 0;
}

::selection {
    color: #ecf0f1;
    background-color: #9b59b6;
}

body {
    background-color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    color: #130f0e;
}

body,
.foo {
    text-align: center;
}

img {
    padding: 64px 32px 0 32px;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    padding: 48px 32px 0 32px;
}

h2,
.content {
    font-size: 20px;
}

.content {
    padding: 48px;
    text-align: justify;
}

.content,
h2 {
    opacity: 0.8;
}

.post {
    padding-top: 48px;
}

.post p {
    margin-top: 12px;
}

.post,
.foo {
    margin: auto;
    width: 80%;
}

a {
    color: #130f0e;
    text-decoration: underline;
}

a:hover {
    color: #2980b9;
}

a:active {
    color: #8e44ad;
}

.social {
    text-decoration: none;
    background-color: #130f0e;
    color: #ecf0f1;
    opacity: 0.4;
}

.ico,
a {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.ico {
    position: relative;
    padding: 20px;
    top: 10px;
    color: #ecf0f1;
    display: inline-block;
}

.ico-facebook:hover {
    color: #3b5998;
}

.ico-twitter:hover {
    color: #55acee;
}

.ico-envelope-o:hover {
    color: #9b59b6;
}